@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url('/f3a79899-1828-4224-9a11-880d2baf304e.png') !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
